In [1]:
# https://www.kaggle.com/martinpiotte/whale-recognition-model-with-score-0-78563
import numpy as np
import pandas as pd

In [4]:
submit = pd.read_csv('../data/sample_submission.csv')

In [5]:
submit.head()

           Image                                                 Id
0  00028a005.jpg  new_whale w_23a388d w_9b5109b w_9c506f6 w_0369a5c
1  000dcf7d8.jpg  new_whale w_23a388d w_9b5109b w_9c506f6 w_0369a5c
2  000e7c7df.jpg  new_whale w_23a388d w_9b5109b w_9c506f6 w_0369a5c
3  0019c34f4.jpg  new_whale w_23a388d w_9b5109b w_9c506f6 w_0369a5c
4  001a4d292.jpg  new_whale w_23a388d w_9b5109b w_9c506f6 w_0369a5c

In [6]:
submit.shape

(7960, 2)

In [8]:
sub1 = pd.read_csv('../submissions/sub1-0.008.csv')

In [9]:
sub1.shape

(15610, 2)

In [10]:
l = list(submit.Image.values)

In [11]:
sub11 = sub1[sub1.Image.isin(l)]

In [12]:
sub11.shape

(0, 2)

In [13]:
sub1.head()

          Image                                                 Id
0  00029b3a.jpg  new_whale w_c17a537 new_whale new_whale new_whale
1  0003c693.jpg  new_whale w_84feae3 w_3411b9f w_4659acf w_43be268
2  000bc353.jpg  new_whale w_d0e5d1d w_29c9595 w_4b83ce2 w_dce3192
3  0010a672.jpg  new_whale w_f96592f w_877e56e w_18eee6e w_4ebeafb
4  00119c3f.jpg  new_whale new_whale w_1eafe46 w_147b62b w_2f6a962

In [2]:
train = pd.read_csv('../data/train.csv')

In [3]:
train_play = pd.read_csv('../data/train_play.csv')

In [4]:
train_play.shape, train.shape

((9850, 2), (25361, 2))

In [9]:
len(set(train.Image.values).intersection(set(train_play.Image.values)))

0

In [10]:
train.head()

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale

In [11]:
train_play.head()

          Image         Id
0  00022e1a.jpg  w_e15442c
1  000466c4.jpg  w_1287fbc
2  00087b01.jpg  w_da2efe0
3  001296d5.jpg  w_19e5482
4  0014cfdf.jpg  w_f22f3e3

In [12]:
train = train.append(train_play)

In [13]:
train.shape

(35211, 2)

In [14]:
train.tail()

             Image         Id
9845  ffe5c306.jpg  w_2ceab05
9846  ffeaa7a4.jpg  w_b067417
9847  ffecec63.jpg  w_8b56cb1
9848  fff04277.jpg  w_2dcbf82
9849  fffd4260.jpg  w_b9bfd4e

In [16]:
train.reset_index(drop=True, inplace=True)

In [17]:
train.tail()

              Image         Id
35206  ffe5c306.jpg  w_2ceab05
35207  ffeaa7a4.jpg  w_b067417
35208  ffecec63.jpg  w_8b56cb1
35209  fff04277.jpg  w_2dcbf82
35210  fffd4260.jpg  w_b9bfd4e

In [18]:
train.to_csv('../data/train_combined.csv',index=False)